{% extends 'base.html' %}

{% block content %}

<h1>About us</h1>
<p>
    <img alt="" height="342" src="https://prod-phd-cms.s3.eu-west-1.amazonaws.com/files/banner-header-lp-povestea-noastra.png" width="1087">
<br>

<p>

Family Pizza a fost construită plecând de la o idee super simplă, respectiv că seara de pizza, alături de familie, trebuie să fie una cu adevărat specială și am păstrat acest gând în tot ceea ce facem.
În plus, din dragoste pentru pizza am gândit oferte speciale de nerefuzat!
    <p>

Bineînteles că n-am putea reuși fără ajutor echipelor noastre extraordinare cărora le suntem mereu recunoscători.
    <p>

După aproape 5  ani si câteva generații care au crescut cu gustul unic Family Pizza, putem spune cu încredere că suntem pizza preferată a familiilor din România. În tot acest timp am învățat că viața adevărată de familie nu este cea pe care o vedem la televizor sau pe internet. Într-o mare de reclame cu familii perfecte, în case perfecte, familia Family Pizza este una autentică. Pentru că fiecare membru are o personalitate și un punct de vedere propriu și interesant. Dar când vine vorba de pizza, se pun toți de acord.
</p>


{% endblock content %}
